{% extends 'base.html.twig' %}

{% block title %}Registros{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container-fluid">
            <div class="container">
                <button type="button" class="btn btn-light">
                    Registros <span class="badge bg-dark">{{ registros|length }}</span>
                </button>
                {% set presenciales = 0 %}
                {% set virtuales = 0 %}
                {% for registro in registros %}
                    {% if registro.asistencia == 'Presencial' %}
                        {% set presenciales = presenciales + 1 %}
                    {% else %}
                        {% set virtuales = virtuales +1 %}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn btn-light">
                    Presenciales <span class="badge bg-dark">{{ presenciales }}</span>
                </button>
                <button type="button" class="btn btn-light">
                    Virtuales <span class="badge bg-dark">{{ virtuales }}</span>
                </button>
                {% set aceptados = 0 %}
                {% for registro in registros %}
                    {% if registro.aceptado == true %}
                        {% set aceptados = aceptados + 1 %}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn btn-light">
                    Aceptados <span class="badge bg-dark">{{ aceptados }}</span>
                </button>
                <button type="button" class="btn btn-light">
                    No aceptados <span class="badge bg-dark">{{ registros|length - aceptados }}</span>
                </button>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <u>Correos de aceptados</u> <span class="badge bg-primary">{{aceptados}}</span>
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Correos de registros aceptados</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% set total = 0 %}
                            {% for registro in registros %}
                                {% if registro.aceptado == true %}
                                {{ registro.correo }}
                                    {% if not loop.last %},{% endif %}
                                {% endif %}
                                {% set total = total + 1 %}
                            {% endfor %}
                            <p>
                                <br> {{ total }} correos
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <table id="example" class="mt-5 table table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Institución</th>
                    <th>Carrera</th>
                    <th>Semestre</th>
                    <th>Profesor</th>
                    <th>Inst. prof</th>
                    <th>Asistencia</th>
                    <th>Beca</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for registro in registros %}
                    <tr>
                        <td><a href="{{ path('app_registro_show', {'slug': registro.slug}) }}">{{ registro.slug }}</a></td>
                        <td>{{ registro.nombre }} {{ registro.apaterno }} {{ registro.amaterno }}</td>
                        {#                        <td>{{ registro.nacimiento ? registro.nacimiento|format_date('medium',locale='es') : '' }}</td>#}
                        <td>{{ registro.correo }}</td>
                        <td>{{ registro.universidad }}</td>
                        <td>{{ registro.carrera }}</td>
                        <td>{{ registro.semestre }}</td>
                        <td>{{ registro.profesor }}</td>
                        <td>{{ registro.univProf }}</td>
                        <td>{{ registro.asistencia }}</td>
                        <td>{{ registro.beca }}</td>
                        <td>
                            <a href="{{ path('app_registro_show', {'slug': registro.slug}) }}"><i class="fas fa-search"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="17">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
  {% block javascripts %}
      {{ parent() }}
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

      <script type="application/javascript">
          $(document).ready(function() {
              $('#example').DataTable();
          } );
      </script>

  {% endblock %}