{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    <div class="container mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_registro_index') }}">Solicitudes</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{  registro.slug }} </li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-8">
                <div class="card border-dark mt-3" style="max-width: 100%">
                    <div class="card-header">Datos personales</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">{{ registro.nombre }} {{ registro.apaterno }} {{ registro.amaterno }} </h5>
                        <p class="card-text">
                        <address>
                            <strong> {{ registro.correo }} </strong> <br>
                            {{ registro.nacimiento |format_date('long',locale='es') }}
                        </address>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card border-dark mt-3" style="max-width: 100%">
                    <div class="card-header">Datos académicos</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">{{ registro.universidad }}</h5>
                        <p class="card-text">
                        <address>
                            <strong>Carrera:</strong>  {{ registro.carrera }} <br>
                            <strong>Semestre:</strong>  {{ registro.semestre }} <br>
                            <strong>Profesor:</strong><small>{{ registro.profesor }}, {{ registro.univProf }},
                                <em>{{ registro.correoProf }}</em>> </small>  <br>
                            <i class="fas fa-file-pdf"></i> <a href="{{ vich_uploader_asset(registro, 'historialFile') }}"
                                                              target="_blank">Historial académico</a>
                        </address>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card border-dark mt-3" style="max-width: 100%">
                    <div class="card-header">{{nombre_evento}}</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Asistencia {{ registro.asistencia }}</h5>
                        <i class="fas fa-file-pdf"></i> <a href="{{ vich_uploader_asset(registro, 'recomendacionFile') }}"
                                                           target="_blank">Carta de recomendación</a><br><br>
                        {{ registro.beca }}
                        <p class="card-text">
                        <address>
                            <hr>
                            {{ registro.vegetariano }}
                        </address>
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
